/* .register ul {
  display: flex;
  list-style: none;
  gap: 6px;
  margin: 10px 0px;
}

.register .pass {
  position: relative;
  left: 4px;
}

h2 {
  margin-top: 5px;
} */
.register {
  /* display: flex; */
  max-width: 1440px;
}

/* LOGIN AREA CODE START  */
.register .sign-page .login-area {
  /* width: auto; */
  padding: 274px 175px 222px !important;
}

.register .sign-page .login-area .btn {
  padding: 0 !important;
}

.register .sign-page .login-area .btn button {
  margin: 0;
  width: 100px;
  height: 34px;
  background: var(--primary-dark-blue-01, #cfd4ed);
}

.register .sign-page .login-area h1 {
  font-size: 24px;
  font-weight: 700;
  line-height: 36px; /* 150% */
  margin: 32px 0;
}

.register .sign-page .login-area label {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
}

.register .sign-page input::placeholder {
  color: #a5a5a5;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px; /* 150% */
  /* padding: 10px 0 10.25px 15px !important; */
  box-sizing: border-box;
}

.register .sign-page button {
  margin-top: 31.75px;
  width: 100%;
  background-color: #0d28a6;
  margin-bottom: 32px;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px; /* 142.857% */
  padding: 8px 12px !important ;
  box-sizing: border-box;
  text-decoration: none;
  border-radius: 2px;
  border: none;
}

.register .sign-page a {
  color: #fff;
  text-decoration: none;
}

h6 {
  font-size: 0.9rem !important;
}

.register .sign-page .login-area span {
  color: #0d28a6;
  font-size: 14px;
  font-weight: 700 !important;
  line-height: 20px; /* 142.857% */
  text-decoration-line: underline;
}

/* END OF LOGIN AREA CODE  */

.register .bg {
  background-color: beige;
  /* width: 50%; */
}

@media screen and (max-width: 1200px) {
  .register .sign-page .login-area {
    padding: 29px 24px 204px !important;
    box-sizing: border-box;
  }

  .bg {
    display: none;
  }
}
