* {
  margin: 0;
  padding: 0;
}

.faq {
  display: flex;
  justify-content: center;
}

.faq .row {
  width: 100%;
  padding: 0px 16px !important;
}

.faq .title-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 600px !important;
}

.faq .faq-title {
  color: #000;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px; /* 150% */
}

.faq .faq-desc {
  color: #000;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
}

.faq .faq-group {
  margin-top: 10px;
}

.faq .faq-wrapper {
  border: 1px solid #d4d4d4;
  width: 668px;
  height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Arial-Bold", Helvetica;
  color: black;
  background-color: transparent;
  font-size: 15px;
}

.faq .faq-item {
  width: 650px;
  border: 1px solid #d4d4d4;
}

@media (max-width: 576px) {
  .faq .faq-wrapper {
    width: 100%;
    font-size: 10px;
  }

  .faq .faq-item {
    width: 330px;
  }
}
