.category-car {
  display: flex;
  gap: 10px;
  font-size: 13px;
  margin-top: 1rem;

  button {
    border: 1px solid #AEB7E1;
    border-radius: 3px;
    padding: 5px 12px;
    color: #AEB7E1;
    background-color: #FFF;

    &.active,
    &:hover {
      border-color: #0D28A6;
      background-color: #CFD4ED;
      color: #0D28A6;
      font-weight: 700;
    }
  }
}

.add-car {
  width: 142px;
  height: 36px;
  border-radius: 2px;
  padding: 8px 12px;
  border: 1px solid white;
  border-color: blue;
  color: white;
  background-color: blue;
  font-size: 12px;

}

.container-post-card {
  display: grid;
  grid-template-columns: repeat(3, auto);
  margin-top: 10px;
}
