.category-car {
  display: flex;
  gap: 10px;
  font-size: 12px;
  margin-top: 1rem;
}

.category-car>button {
  border: 1px solid white;
  border-radius: 5px;
  padding: 5px 10px;
  color: blue;
  background-color: #FFF;
  border-color: blue;

}

.add-car {
  width: 142px;
  height: 36px;
  border-radius: 2px;
  padding: 8px 12px;
  border: 1px solid white;
  border-color: blue;
  color: white;
  background-color: blue;
  font-size: 12px;

}

.container-post-card {
  display: grid;
  grid-template-columns: repeat(3, auto);
  margin-top: 10px;
}
