.container {
    width: 13700px;
    height: 70px;
    display: flex;
    flex-direction: row;
    margin-left: 70px;
    gap: 850px;
    background-color: white;
    align-items: center;

}
.container-2 {
    display: flex;
    gap: 10px
}
.hamburger {
    width: 20px;
    height: 20px;
    
}
.button-navbar > button {
    border: 1px solid white;
    border-color: blue;
    padding: 5px;
    background-color: white;
    border-radius: 5px;
    color: blue;
    font-weight: 700;
    
}
.button-navbar {
    font-size: 11px;
    
    
}
.user > select {
    border: 1px solid white;
    border-radius: 3px;
    padding: 5px;
    color: blue;
    font-weight: 700;

}
.user {
    font-size: 12px;

}