* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.whyus {
    display: flex;
    align-items: center;
    justify-content: center;
}

.whyus-text {
    font-weight: 700;
    margin-left: 10px;
}

.whyus-p {
    font-weight: 700;
    margin-left: 10px;
    margin-bottom: 35px;
}

.whyus-content {
    gap: 20px;
    display: flex;
    justify-content: center;
}

.whyus-box {
    font-size: 15px;
    padding: 24px 24px 0px 24px;
    border-radius: 8px;
    border: 1px solid #D0D0D0;
    width: 268px;
}

.bi-award,
.bi-hand-thumbs-up,
.bi-clock,
.bi-tag {
    font-size: 20px;
    padding: 5px 8px 5px 8px;
    color: white;
    border-radius: 100%;
}

.whyus-title {
    font-size: 18px;
    font-weight: 700;
    margin-top: 15px;
}

.whyus-desc {
    font-size: 15px;
    font-weight: 700;
}

@media (max-width: 576px) {
    .whyus-text {
        font-size: 25px;
        display: flex;
        width: 200px;
        justify-content: center;
    }

    .whyus-p {
        display: flex;
        width: 350px;
        font-size: 15px;
        justify-content: center;
    }

    .whyus .whyus-content {
        display: flex;
        flex-wrap: wrap;
    }

    .whyus .whyus-box {
        width: 300px;
    }
}