.header-payment {
    display: flex;
    background-color: #f1f3ff;
    justify-content: space-around;
    height: 250px;
}

.header-payment-wrapper {
    display: flex;
    justify-content: space-between;
    width: 1100px;
}

.order-header-pay {
    font-size: 14px;
}

.line-header {
    height: 2px;
    position: relative;
    bottom: 8px;
    width: 40px;
    margin: 0px 5px;
    background-color: #0D28A6;
}

.number-header-pay {
    border-radius: 100%;
    border: 1px solid black;
    width: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    align-content: center;
    height: 15px;
}
