* {
  margin: 0;
  padding: 0;
}

.footer {
  display: flex;
  justify-content: space-between;
}

.footer .footer-header {
  display: flex;
}

.footer .footer-address {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer .footer-nav {
  padding-left: 80px;
}

.footer .footer-logo {
  width: 100px;
  height: 30px;
}

.footer .footer-icon {
  position: relative;
  padding: 4px 6px 4px 6px;
  margin-right: 5px;
  color: white;
  border-radius: 100%;
  background-color: #0d28a6;
}

.footer .footer-text-wrapper {
  font-weight: 700;
  font-size: 14px;
}

.footer .footer-text-wrapper-2 {
  text-decoration: none;
  display: block;
  color: black;
  line-height: 30px;
  font-weight: 400;
}

@media (max-width: 576px) {
  .footer {
    position: relative;
    width: 200px;
  }

  .footer .footer-header {
    width: 200px;
  }

  .footer .footer-text-wrapper-2 {
    position: relative;
    left: -70px;
    font-size: 13px;
  }
}
