* {
    margin: 0;
    padding: 0;
}

.banner {
    height: 326px;
    background-color: #0D28A6;
    color: white;
    border-radius: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

.banner .text {
    font-family: "Arial-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 36px;
}

.banner .text-2 {
    font-family: "Arial-Bold", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 14px;
    text-align: center;
    width: 468px;
    margin-left: 60px;
}

.banner .btn-banner {
    margin-left: 235px;
    text-decoration: none;
    border: none;
    margin-top: 25px;
    border-radius: 2px;
    background-color: #5CB85F;
    padding: 10px;
    font-family: "Arial-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 14px;
}

@media (max-width:576px) {
    .banner {
        height: 480px;
    }
    
    .banner .text {
        width: 300px;
        text-align: center;
    }
    
    .banner .text-2 {
        font-size: 15px;
        width: 210px;
        margin: auto;
    }
    
    .banner .btn-banner {
        margin: auto;
        display: flex;
        position: relative;
        top: 30px;
    }
}